* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;

}

.slider{
    display: flex;
    justify-content: space-between;
}

.bi-list{
    font-size: 40px;
}

.image{
    margin-top: 50px;
}

.head {
    width: 210px;
    height: 86px;
    margin-top: 73px;
    margin-left: 20px;
    gap: 0px;
    opacity: 0px;
}

.PersonName {
    width: 258px;
    height: 86px;
    font-size: 36px;
    font-weight: 800;
    line-height: 43.2px;
    text-align: left;
    color: #172154;
}

.fParra {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: #172154;

}

.buttonPresent {
    width: 170px;
    height: 170px;
    margin-top: 200px;
    /* margin-left: 95px; */
    gap: 0px;
    opacity: 0px;

    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 158, 25, 0.47) 0%, #00A31A 100%);
    border-radius: 50%;
    color: #FFFFFF;

}

.buttonout .btn{
    border: none;
    width: 170px;
    height: 170px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 46, 46, 0.47) 0%, #BC0101 100%);
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 24px;


}
.buttonmarked .btn{
    width: 170px;
    height: 170px;
    font-size: 16px;
    background: linear-gradient(180deg, #010E4A 0%, #010E4A 100%);
    border-radius: 50%;
    color: #FFFFFF;

}

.buttonPresent .btn {
    border: none;
    font-size: 29px;
    font-weight: 800;
    line-height: 34.8px;
    text-align: left;
}

.buttonHistory {
    height: 51px;
    margin-top: 180px;
    gap: 10px;
    border-radius: 40px;
    opacity: 0px;
    background: #010E4A;
    color: #FFFFFF;
}

.buttonHistory .btn {
    border: none;
    font-size: 19px;
    font-weight: 700;
    line-height: 30.8px;
    text-align: left;

}

i {
    border: 2px none #FFFFFF
}